<div class="panel-body">
  <div class="media">
    <div class="media-left">
      <a class="media-object"><img src="{{thumbnail}}">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{title}}
      </h4>
      <div class="category-tag">
        {{#each tags}}
        <span class="label label-default">{{name}}</span>
        {{/each}}
      </div>
      <dl class="book-description dl-horizontal">
        <dt>著者</dt>
        <dd>{{author}}</dd>
        <dt>出版日</dt>
        <dd>{{formatDate publicatedOn}}</dd>
        <dt>出版社</dt>
        <dd>{{publisher}}</dd>
        <dt>登録日</dt>
        <dd>{{formatDate registeredOn}}</dd>
        <dt>登録者</dt>
        <dd>{{registered.lastname}} {{registered.firstname}}</dd>
      </dl>
      <div class="well">{{description}}</div>
      <table class="book-status table table-bordered table-condensed">
        <tr>
          <td class="rating">
            <span data-toggle="tooltip" data-placement="top" title="{{ratingText}}">{{{ratingStar}}}</span>
          </td>
          <td>
            <span data-toggle="tooltip" data-placement="top" title="閲覧数"><i class="fa fa-eye"></i> {{detail.views}}</span>
          </td>
          <td><span data-toggle="tooltip" data-placement="top" title="貸出状態">{{#if borrowable}}{{detail.bookStatus.name}}{{else}}<a href="javascript:void(0)">{{detail.bookStatus.name}}</a>{{/if}}</span>
          </td>
          <td><span data-toggle="tooltip" data-placement="top" title="返却予定日">{{formatDate detail.returnOn}}</span>
          </td>
          <td><span data-toggle="tooltip" data-placement="top" title="借出者">{{detail.borrowered.lastname}} {{detail.borrowered.firstname}}</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
