<div class="thumbnail">
  <img src="{{thumbnail}}">
  <div class="caption">
    <div><a class="title" href="javascript:void(0)" name="books/{{id}}" data-toggle="tooltip" data-placement="top" title="{{title}}">{{title}}</a>
    </div>
    <div class="rating"><span data-toggle="tooltip" data-placement="top" title="{{ratingText}}">{{{ratingStar}}}</span>
    </div>
    <div class="category-tag">
      {{#each tags}}
      <span class="label label-default">{{name}}</span> {{/each}}
    </div>
  </div>
</div>
