<div class="media">
  <div class="media-left">
    <a class="media-object"><img src="{{thumbnail}}">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a class="title" href="javascript:void(0)" name="books/{{id}}">{{title}}</a>
    </h4>
    <div class="rating"><span data-toggle="tooltip" data-placement="top" title="{{ratingText}}">{{{ratingStar}}}</span>
    </div>
    <div class="category-tag">
      {{#each tags}}
      <span class="label label-default">{{name}}</span>
      {{/each}}
    </div>
  </div>
</div>
